{% extends "layout.html" %}

  <style>
  body
     {
      text-align: left;
      background: url("http://jenruhman.com/freshjen/ninjas.jpg");
      background-size: cover;
      color: #fff;
      font-family: arial;
      font-size: 18;
     }
     
    ul
     {
      display: inline;
     }
  </style>

<body>
{% block header %}  
  <header>
    <h1>About Us</h1>
    <ul>
      <li><a href="/events/new">New Event</a></li>
      <li><a href="/events">Browse Events</a></li>
    </ul>
  </header>
{% endblock %}
{% block mainContent %}
<h3>Donate</h3>

</body>
{% endblock %}