{% extends "layout.html" %}

{% block header %}  
  <header>
<div class="jumbotron" style="margin-left: -20px">
    <h1 style=" color: #fff; text-shadow: 2px 2px #000;">Events</h1>
</div>
  </header>
{% endblock %}
{% block mainContent %}
  <div>
    {% include "fragments/events-list.html" %}
  </div>
  <div>
    <a href="/events/new">Create a new event</a>
  </div>

{% endblock %}

{% block footer %}
  <footer>
    <a href="/">Home</a> | <a href="/about">About us</a>.
  </footer>
{% endblock %}


