{% extends "layout.html" %}

  <style>

  </style>

<body>
{% block header %}  
  <header>
<div class="jumbotron" style="margin-left: -20px">
    <h1 style=" color: #fff; text-shadow: 2px 2px #000;">Rules of Donut Club</h1>
    <h3 style="color: #fff; text-shadow: 2px 2px #000;">All Donut Clubs must obey these rules or perish</h3>
</div>
  </header>
{% endblock %}
{% block mainContent %}
 
<ol>
    <h3><li>You better pay for your donut.</li></h3>
    <img id="players" src="https://45.media.tumblr.com/b0b17d996e1d62363166a66af1e48f48/tumblr_n5qc30vKi81spnc0yo1_500.gif">
    <h3><li>Lateness will not be tolerated.</li></h3>
    <img id="players" src="http://cdn.playbuzz.com/cdn/c1c5c324-7b83-4e47-8f6a-09a9eed79516/c1333bef-f992-4633-8840-297bef8f5c0c.gif">
    <h3><li>Do not touch the donuts before the designated time.</li></h3>
    <img id="players" src="http://45.media.tumblr.com/77b30e1185cbd12461d8a1f780abe007/tumblr_n9qztyHA7A1tac8l4o3_500.gif">
    <h3><li>Finish the donut.</li></h3>
    <img id="players" src="http://data.whicdn.com/images/126709193/large.gif">
    <h3><li>Once a member of Donut Club, always a member of Donut Club</li></h3>
    <img id="players" src="https://media.giphy.com/media/XuRdMQ4QrDVh6/giphy.gif">

</ol>

</body>
{% endblock %}